<footer class="footer">
  <div class="container">
    <p>Videojuegos24 © Todos los derechos reservados</p>
    <ul>
      <li>
        <a href="#">
          <i class="uil uil-facebook-f"></i>
          Videojuegos24
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-instagram"></i>
          Videojuegos24_ig
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-twitter"></i>
          Videojuegos24RT
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-whatsapp"></i>
          6565-6584
        </a>
      </li>
    </ul>
  </div>
</footer>