<nav class="nav">
  <div class="container">
    <div class="title">
      <a href="/">
        <h2>Videojuegos24</h2>
      </a>
    </div>
    <ul class="ul">
      <li class="li inicio">
        <a href="/">Inicio</a>
      </li>
      <li class="li categories">
        <a href="/#games">Videjuegos</a>
      </li>
      <li class="li nosotros">
        <a href="/#nosotros">Más sobre nosotros</a>
      </li>
      <li class="li contactanos">
        <a href="/contactanos">Contactanos</a>
      </li>
    </ul>
  </div>
</nav>
