<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("./partials/head.html") %>
  </head>
  <body>
    <%- include("./partials/nav.html") %>
    <header class="header">
      <img src="./img/videogames.jpg" alt="" />
      <div class="container">
        <div class="text">
          <h2>
            ¡Bienvenido amigo Gamer!
            <p>
              ven y disfruta de nuestro sitio web, en donde encontraras toda la
              información que deseas sobre tus vieojuegos favoritos
            </p>
          </h2>
          <a href="/#main" class="btn">Mira todo nuestro contenido</a>
        </div>
      </div>
    </header>
    <main id="main">
      <section class="section games" id="games">
        <div class="title">
          <h4>Nuestra selección de juegos</h4>
        </div>
        <div class="container">
          <a href="#">
            <div class="game">
              <img src="./img/cod.jpg" alt="" />
              <div class="title_game">
                <p>Call of Dutty</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/gow.jpg" alt="" />
              <div class="title_game">
                <p>God of War</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/halo.jpeg" alt="" />
              <div class="title_game">
                <p>Halo</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/re.jpg" alt="" />
              <div class="title_game">
                <p>Resident Evil</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/tlou.jpeg" alt="" />
              <div class="title_game">
                <p>The last of us</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/ac.jpg" alt="" />
              <div class="title_game">
                <p>Assassin's creed</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/dbx.jpg" alt="" />
              <div class="title_game">
                <p>Dragon ball Xenoverse</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/fifa.jpg" alt="" />
              <div class="title_game">
                <p>FIFA</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/gtasanandreas.jpg" alt="" />
              <div class="title_game">
                <p>GTA San Andreas</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/gtav.jpg" alt="" />
              <div class="title_game">
                <p>GTA V</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/mk.jpg" alt="" />
              <div class="title_game">
                <p>Mortal Kombat</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class="game">
              <img src="./img/rdr.jpg" alt="" />
              <div class="title_game">
                <p>Read Dead Redemption</p>
              </div>
            </div>
          </a>
        </div>
      </section>
      <section class="section nosotros" id="nosotros">
        <div class="title">
          <h4>Nosotros</h4>
        </div>
        <div class="container">
          <div class="img">
            <img src="./img/us.jpeg" alt="" />
          </div>
          <div class="p">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas,
              eaque quo harum exercitationem consectetur a, excepturi at ipsa
              quae fugiat eos rerum molestias ducimus laboriosam voluptatem.
              Itaque fuga dignissimos qui quia hic mollitia repellat incidunt
              cupiditate quod numquam placeat similique sit, eius voluptatem,
              excepturi laborum neque est ea voluptates tempore cumque, minima
              deleniti harum? Sequi, neque est. Ipsam vel amet quia veniam
              incidunt soluta tenetur. Dicta ratione dolore porro molestias
              blanditiis recusandae maxime rerum repellendus quia esse corrupti
              mollitia maiores quis laboriosam consequuntur, doloremque id eum
              est, veniam reiciendis aut sint praesentium! Autem dolorem
              repudiandae omnis accusamus laudantium, magnam non.
            </p>
          </div>
        </div>
      </section>
    </main>
    <%- include("./partials/footer.html") %>
  </body>
</html>
